@media (max-width: 320.98px) {

}

@media (max-width: 375.98px) {

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .mob {
    display: flex;
  }
  .desk {
    display: none;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
//MIN WIDTH -------------------------------------------------------
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
@media (min-width: 768px)  and (min-height: 714px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mob {
    display: none;
  }
  .desk {
    display: flex;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@media (min-width: 1600px) {

}
