$bg-color: #FFFFFF;
$text-color: #393939;
$color-white: #ffffff;
$color-white50: rgba(255, 255, 255, 0.5);
$color-blue: #009DDB;
$color-orange: #EF733C;
$color-grey:#8B8B8B;
//$color-green: #15B270;
$color-green: #32CE8C;
$nav-icon-color: #9E9E9E;
//$border-color: #ffffff;
//$border-hover-color: #000000;
$box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);


