//@import "grid";
@import "variables";
//@import "libs";
//@import "fonts";



//MAIN CSS
html {
  font-size: 10px;
  height: 100%;
}
body {
  //font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  background: $bg-color;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ------ Specification ------ */
div, p, form, input, a, span, button, textarea {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, textarea, a, div {
  padding: 0;
  margin: 0;
}

p {
  //font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $text-color;

}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  user-select: none;
  color: $text-color;
}

a, a:hover, a:active a:focus {
  text-decoration: none;
  outline: none;
  //font-family: 'IBM Plex Sans', sans-serif;
  user-select: none;
  transition: all 0.3s ease;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

a, button, input, div {
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active,
textarea, textarea:hover, textarea:focus, textarea:active{
  outline: none !important;
  transition: all 0.3s ease;
}
img {
  max-width: 100%;
  height: auto;
}
svg {
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1rem;
  height: 5rem;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.3rem;
  background: $color-orange;
  color: $color-white;
  border: 0.1rem solid $color-orange;
  box-shadow: $box-shadow;
  &:hover {
    background: $color-orange;
    color: $color-white;
    border: 0.1rem solid $color-orange;
  }
  &:active {
    background: $color-orange;
    color: $color-white;
    border: 0.1rem solid $color-orange;
    //box-shadow: inset 0 0 1.1rem 0.2rem rgba(255, 255, 255, 0.78)
  }
}
/*
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
*/
//...............................................
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
//...............................................
.show {
  display: flex;
}
.hidden {
  display: none !important;
}
.stop-scroll {
  overflow: hidden !important;
}

//Navigation-bar
@import "nav";


@import "main";


@import "footer";


@import "media";